<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bot overzicht</title>
  </head>
  <body>
    <form method='post' action=''>
      Zoekopdracht:<br>
      <input type='text' name='search'/><br>
      Maximale prijs voor advertenties:<br>
      <input type='number' name='articleMax'/><br>
      Minimale prijs voor advertenties:<br>
      <input type='number' name='articleMin'/><br>
      Maximale prijs voor advertenties met bieden:<br>
      <input type='number' name='biddingMax'/><br>
      Afstand in kilometers:<br>
      <input type='number' name='distance'/><br>
      Postcode:<br>
      <input type='text' name='zipCode'/><br>
      <input type='submit'>
    </form>
  </body>
</html>
